# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Poetry
poetry.lock


# Environment variables
.env

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Testing
.pytest_cache/
